body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:100vw;
}

img{
  width:50%;
  height: auto;
}

h1{
  font-size: 36px;
  color: blue;
}

p{
  font-size:25;
  color: black;
}
